<div class="container">
  <header><h2>Step {{selectedIndex + 1}}/{{steps.length}}</h2></header>
  <section class="step-navigation-bar" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropped($event)" >
    <div class="step-container" *ngFor="let step of steps; let i = index;">
      <div
      class="step"
      [ngClass]="{'active': selectedIndex === i}"
      (click)="onClick(i)"
      cdkDrag
    >
    <div class="move-icon" cdkDragHandle>
      <svg width="18px" fill="black" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <span>{{step.label}}</span>
    </div>
      <div *ngIf="i !== (steps.length-1)" class="line">&rarr;</div>
    </div>
  </section>
  <!-- Content from the CdkStep is projected here -->
  <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
</div>